.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    background-color: white;
    img{
        padding: 2%;
        width: 100%;
        height: auto;
    }
}

.descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        color: black;
        font-size: 50px;
        padding: 10px;
        margin: auto;
        text-align: left;
    }
}
.mainVenta{
    padding: 3%;
}
.carrito{
    margin: 5%;
    button{
        background-color: $naranja;
        color: white;
        font-family: 'Inter', sans-serif;
        border: $naranja;
        border-radius: 3px;
        padding: 2%;
    }
}
