/*----------------------------Footer----------------------------*/
/*Aplica al footer*/
.footer {
    background-color: $azul;
    color: $naranja;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
        img {
            height: 100px;
            width: 100px;
            margin: 10px;
            border-radius: 10px;
        }
        a {
            color: white;
            text-decoration: none;
        }
        
}
/*Aplica a contacto footer*/
#contacto a {
    color: $naranja;
    text-decoration: none;
}

/*--------------------------------------------------------------*/
