.mainPlayers {
    background-image: url("../images/background.jpg");
    background-size: cover;
    .roster {
        padding: 10px;
        margin: auto;
        text-align: center;
        border: 3px solid black;
        background-color: #dfd3b1;
        img {
            width: 110px;
            height: 100px;
            padding: 8px;
            border-radius: 30px;
            object-fit: cover;
            object-position: center;
        }
    }
    h1, h2 {
        color: $naranja;
        font-family: 'Inter', sans-serif;
        color: black;
    }
    .containerPlayers {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    }
}